<div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">

    <mat-card class="registration-card">
        <mat-card-title>Registration</mat-card-title>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" type="text" required />
            <mat-error *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
              Please enter a valid first name.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="lastName" required />
            <mat-error *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
              Please enter a valid last name.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
            <mat-error *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" type="password" required />
            <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
            <mat-error *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
              Password is required.
            </mat-error>
          </mat-form-field>
      
          <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Register</button>
        </form>
    </mat-card>
    