<h2>Student List</h2>

<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>

<table *ngIf="students.length > 0;">
  <thead>
    <tr>
      <th>Serial</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Student ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <input [(ngModel)]="student.firstName" placeholder="First Name" />
        
      </td>
      <td>
        <input [(ngModel)]="student.lastName" placeholder="Last Name" />
      </td>
      <td>
        <input [(ngModel)]="student.email" placeholder="Email" />
      </td>
      <td>
      {{student.studentId}}
      </td>
      <td>
        <button (click)="updateStudent(student)">Update</button>
      </td>
    </tr>
  </tbody>
</table>
