<mat-toolbar color="primary" class="mat-elevation-z8">
    <button  mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
        <button mat-mini-fab style="margin-right: 10% ; margin-left: 10%">
           <mat-icon>directions_boat</mat-icon>
       </button>LearnIo
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer #drawer opened mode="side" position="start">
      <mat-nav-list>
        <mat-list-item routerLink="/home">
          <button mat-button>
            <mat-icon>home</mat-icon>
            Dashboard
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-button  routerLink="/view"><mat-icon>face</mat-icon>Courses</button>
          <!-- <mat-menu #menu="matMenu"> -->
              <!-- <button mat-menu-item routerLink="/enroll"><mat-icon>directions_boat</mat-icon>Enroll</button> -->
               <!-- <mat-divider></mat-divider>
               <button mat-menu-item routerLink="/course"><mat-icon>today</mat-icon>Create</button> -->
               <!-- <mat-divider></mat-divider>
               <button mat-menu-item routerLink="/view"><mat-icon>today</mat-icon>View</button> -->
          <!-- </mat-menu> -->
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/profile" >
          <button mat-button>
            <mat-icon>settings</mat-icon>
            Profile
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div style="text-align: center;min-height: 820px;">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>

    </mat-drawer-content>

</mat-drawer-container>