<div *ngIf="isLoginMode">

<div class="body">
<mat-card class="login-card">
  <div style="margin-bottom: 30px; text-align: center;">
    <h4>Welcome Back !</h4>
    <p>Sign in to continue to LearnIo.</p>
</div> 
    <mat-card-title style="text-align: center;"></mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" required />
        <mat-error *ngIf="loginForm.get('firstName')?.invalid && loginForm.get('firstName')?.touched">
          Please enter a valid first name.
        </mat-error> 
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Please enter a valid email.
        </mat-error> 
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="student">Student</mat-option>
          <mat-option value="teacher">Teacher</mat-option>
        </mat-select>
        <mat-error *ngIf="loginForm.get('role')?.invalid && loginForm.get('role')?.touched">
          Please select a role.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" type="password" required />
        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>

    <br>
    <!-- <div style="text-align: center; margin-top: 10px;">
      <p>Don't have an account ?</p>
      <button mat-button  color="accent" (click)="goToRegistration()">Register</button>
    </div> -->

  </mat-card>
</div>

</div>

<div *ngIf="!isLoginMode">
  <app-register></app-register>
</div>