<div class="body">
<mat-card class="login-card">
  <div style="margin-bottom: 30px; text-align: center;">
    <h4>Welcome Back !</h4>
    <p>Sign in to continue to LearnIo.</p>
</div> 
    <mat-card-title style="text-align: center;"></mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Please enter a valid email.
        </mat-error> 
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" type="password" required />
        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Password is required.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <!-- <p style="text-align: center; margin-top: 20px;">
      Don't have an account?
      <button mat-button color="accent">Sign Up</button>
    </p> -->
  </mat-card>
</div>