<div class="course-table-container">
    <div class="header-row">
        <h2>List of Course </h2>
        <mat-form-field class="search-bar" appearance="fill">
          <mat-label>Search Course</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="courses" class="mat-elevation-z8">
    
        <!-- Course Code Column -->
        <ng-container matColumnDef="courseCode">
          <th mat-header-cell *matHeaderCellDef> Course Code </th>
          <td mat-cell *matCellDef="let course"> {{ course.courseCode }} </td>
        </ng-container>
    
        <!-- Venue Column -->
        <ng-container matColumnDef="venue">
          <th mat-header-cell *matHeaderCellDef> Venue </th>
          <td mat-cell *matCellDef="let course"> {{ course.venue }} </td>
        </ng-container>
    
        <!-- Mode Column -->
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef> Mode </th>
          <td mat-cell *matCellDef="let course"> {{ course.mode }} </td>
        </ng-container>
    
        <!-- Days and Time Column -->
        <ng-container matColumnDef="daysAndTime">
          <th mat-header-cell *matHeaderCellDef> Days & Time </th>
          <td mat-cell *matCellDef="let course"> {{ course.daysAndTime }} </td>
        </ng-container>
    
        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        
        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>