<div class="card-container">
    <div class="text-section">
      <h3>Welcome {{userName}} to LearnIo</h3>
      <p>Organize your work and Empower your study!</p>
    </div>
    <div class="image-section">
      <img src="assets/images/profile.jpg" alt="Illustration" />
    </div>
</div>

<div *ngIf="userRole === 'STUDENT'">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Name : {{userName}}</p>
      <p>Student ID : 123456789</p>
      <p>Email : john&#64;gmail.com</p>
      <p>Faculty : Engineering and Applied Science</p>
      <p>Program : Master of Engineering</p>
      <p>Major : Software Engineering</p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="userRole === 'TEACHER'">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Name:</strong> {{ teacherProfile.firstName }} {{ teacherProfile.middleName }} {{ teacherProfile.lastName }}</p>
      <p><strong>Role:</strong> {{ userRole }}</p>
      <p><strong>Email:</strong> {{ teacherProfile.email }}</p>
      <p><strong>Phone Number:</strong> {{ teacherProfile.phoneNumber }}</p>
      <p><strong>Office Hours:</strong> {{ teacherProfile.officeHours }}</p>
      <p><strong>Office Location:</strong> {{ teacherProfile.officeLocation }}</p>
    </mat-card-content>
  </mat-card>
</div>
