.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 20px 20px 20px;
    background-color: white; /* Light background color */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  }
  
  .text-section {
    font-family: 'Arial', sans-serif;
  }
  
  .text-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #2e2e2e; /* Darker text color */
  }
  
  .text-section p {
    font-size: 14px;
    color: #6c757d; /* Muted text color */
    margin-top: 5px;
  }
  
  .image-section img {
    max-width: 100px; /* Adjust size as needed */
    border-radius: 5px;
  }
  .example-card {
    max-width: 400px;
    margin: 40px 20px 20px 20px;
  }