 <!-- <div class="dashboard-container">
    <nav class="sidebar" style="background-color: #435085;">
        <h2 style="color: white;">LearnIo</h2>
        <div class="nav-item">
          <a [routerLink]="'/home'" style="color: white; text-decoration: none;">Dashboard</a>
        </div>
        <div class="nav-item">
            <a (click)="toggleDropdown()" style="color: white; text-decoration: none; cursor: pointer;">
              Course </a>
            <div *ngIf="isDropdownOpen" class="dropdown-menu">
              <a  [routerLink]="'/enroll'" style="color: white; text-decoration: none;">Enroll</a>
              <a  [routerLink]="'/view'" style="color: white; text-decoration: none;">View</a>
            </div>
         </div>
        <div class="nav-item">
          <a [routerLink]="'/home'" style="color: white; text-decoration: none;">Profile</a>
        </div>
      </nav>
      
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
    -->
